body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E8C547;
}
#game{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   padding: 0px;
    gap: 5px;
    height: 200px;
    width: 800px;
   
    
}
.btn{
    height: 120px;
    width: 120px;
    border-radius: 60px;
    margin: 25px;
    background-color: #30323D;
    border: 3px solid #01200F;
}
.btn:hover{
    
    cursor: pointer;
    height: 1px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: #01200F solid 5px;
    opacity: 0.9;
}
.btn:active{
    background-color: #0A2B2D;
    height: 150px;
    width: 150px;
    border-radius: 75px;
    opacity: 0.5;
}
#tab{
     font-size: 30px;
    color: #480355;
    display: flex;
    flex-direction: column;
    width: 800px;
    
    align-items: center;
    justify-content: center;
    
}
#result{
   font-size: 30px;
    color: #480355;
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 100px;
    align-items: center;
    justify-content: center;
    
}
.box{
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#reset{
    width: 300px;
    height: 60px;
    background-color: #CDD1C4;/*#D81E5B*/
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}